.home-article {
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #222;
  margin: 0 -1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;

  &:hover {
    box-shadow: 0 0.7rem 2.5rem rgba(#000, 0.2);
    transform: scale(1.02);
    z-index: 100;
  }

  .title {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .date {
    font-size: 0.9rem;
    font-weight: 400;
    color: #808080;
    margin-top: 0.5rem;
  }

  .body {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}
